<fieldset>
  <h3>Purpose</h3>
  To determine the subject matter, authorship, and resources for the proposed publication and provide a basis for approval or rejection.
  <h3>When</h3>
  Whenever an investigator is seeking approval for a proposed publication that involves CHAT data, CHAT design, CHAT ancillary study data, etc. 
  <h3>Instructions</h3>
  The completed form should be signed by the center Principal Investigator. The form should be sent (along with any supporting materials) to the CHAT Data Coordinating Center for distribution to the appropriate Publications and Presentations Committee for review. This form will be maintained on file at the DCC in the official publication file. The DCC will notify the investigator of the results of the review.
</fieldset>