- @title = "Edit: #{@publication.full_title_was}"
.page-header
  .center
    %h2= @publication.full_title_was
    %small.text-muted
      Editing
    = link_to 'Cancel', @publication, class: 'btn btn-xs btn-default'

= render 'form'
