<% @title = "Edit: #{@publication.full_title}" %>

<h3><center>Editing<br /><br /><span class="quiet"><%= @publication.full_title %></span></center></h3>

<div class="frame">
  <table class="blank padded" style="width:100%">
    <tr>
      <td style="padding:0px 15px 15px 15px">
        <%= render 'form' %>
      </td>
    </tr>
  </table>
</div>
