<% @title = "Edit: #{@publication.full_title}" %>
<div class="page-header">
  <center><h2><%= @publication.full_title %></h2>
    <small class="muted">Editing </small> <%= cancel_mini %>
  </center>
</div>

<%= render 'form' %>
