<% @title = "Publication Matrix" %>

<h3><%= @title %></h3>

<div style="clear:both"></div>

<div id="publications"><%= @print = true; render 'publications' %></div>

<div style="float:left">
  <%= image_tag 'contour/tag_green.png', alt: '' %> Marked for P&amp;P Committee Review<br />
  <%= image_tag 'contour/tag_blue.png', alt: '' %> Marked for Steering Committee Review<br />
</div>
