/**************************************/
/*              GLOBALS               */
/**************************************/

textarea[disabled='disabled'], input[disabled='disabled'], select[disabled='disabled'], .disabled { color: #0E7799; }
.disabled { line-height: 30px; }

/**************************************/
/*            MAIN CONTENT            */
/**************************************/

tbody.even-borderless td {
  background-color: #f0f0f0;
}

tbody.odd-borderless td {
/*  background-color: white;*/
}

.status_marked, .status_unmarked {
  float: left;
  padding: 2px;
  width: 10px;
/*  height: 10px;*/
  line-height: 10px;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #DDD;
  background-color: #FFFFFF;
  margin-right:2px;
  margin-bottom: -2px;
}

.status_marked {
  border: 2px solid #404040;
}

.status_marked.not_approved {
  border-color: #FA5158;
  background-color: #FEE1E2;
}

.status_marked.draft {
  border-color: #FFED25;
  background-color: #FFF8BF;
}

.status_marked.proposed {
  border-color: #FFB475;
  background-color: #FEE5CD;
}

.status_marked.approved {
  border-color: #66FF66;
  background-color: #D4FFCD;
}

.status_marked.nominated {
  border-color: #45E600;
  background-color: #DBFDC8;
}

.status_marked.submitted {
  border-color: #2CA0A5;
  background-color: #BBE3E4;
}

.status_marked.published {
  border-color: #366DC2;
  background-color: #B1BFDB;
}

.status_unmarked {
/*  border: 2px solid gray;*/
}

table.status-table, table.status-table tr, table.status-table td {
  border:0px;
  margin:0px;
  padding:0px
}

table.status-table td {
  vertical-align: middle;
}

ul.token-input-list-facebook {
  width: 100%;
}

@media print {

  body {
    background-color: #fff;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  body a {
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .navbar, .alert, .smudge {
    display: none;
  }

  a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
  }

  h3 {
    margin: 0px;
  }

  p {
    margin-bottom: 0px;
  }
}

span.selected {
  background-color: #404040;
  color: white;
  padding: 3px 5px;

  border: 1px solid #bbb;
  -moz-border-radius: 3px; /* Mozilla */
  -webkit-border-radius: 3px; /* Webkit */
  border-radius: 3px;
}
