/**************************************/
/*              GLOBALS               */
/**************************************/

textarea[disabled='disabled'], input[disabled='disabled'], select[disabled='disabled'], .disabled { color: #0E7799; }
.disabled { line-height: 30px; }

/**************************************/
/*            MAIN CONTENT            */
/**************************************/

tbody.even-borderless td {
  background-color: #f0f0f0;
}

tbody.odd-borderless td {
/*  background-color: white;*/
}

ul.token-input-list-facebook {
  width: 100%;
}

@media print {

  body {
    background-color: #fff;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  body a {
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .navbar, .alert, .smudge {
    display: none;
  }

  a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
  }

  h3 {
    margin: 0px;
  }

  p {
    margin-bottom: 0px;
  }
}

span.selected {
  color: #5cb85c;
}
