<% @title = 'About CHAT Publications' %>

<h1><%= @title %></h1>

The CHAT Publications website is used primarily to create and track publication proposals for the CHAT study.  Members of the P&amp;P committee and the Steering committee can sign in at the following site:<br />
<br />
<pre><%= link_to SITE_URL, SITE_URL, :class => 'noicon' %></pre>

<h2><span style="border:2px solid #D4002F; padding:3px 4px 1px 4px;">1</span> Login and Registration</h2>
<div style="margin-left:30px">
  If you have not signed up yet click the link that says "Sign Up", and enter your name, email, and a password.  This will notify the system admin to approve your registration request within the system.  Once the system admin has approved your request, you can go to the login screen, type in your email, and enter the password you used when you signed up.<br />
  <br />
  If you are already in the system but don't know your password, you can click <%= link_to_unless user_signed_in?, "Forgot your password?", new_password_path('user') %> to reset your password.  The website will then ask you for your email address, which you can enter.  An email will be sent to you instructing you how to reset your password.<br />
</div>

<h2><span style="border:2px solid #56DF00; padding:3px 4px 1px 4px;">2</span> The Publication Matrix</h2>
<div style="margin-left:30px">
  Once in the system you will see a list of publications that have been entered into the system.  Publications that require your attention will be flagged with a blue or green tag and be near the top of the list.  You can view further details on each publication by clicking the publication's title.  The publication title will link you to the publication details.<br />
</div>

<h2><span style="border:2px solid #D9DE00; padding:3px 4px 1px 4px;">3</span> Viewing a Publication (and creating a review)</h2>
<div style="margin-left:30px">
  As a Steering or P&amp;P Committee member, you can leave comments and approve or deny a publication.  Next to your name on the publication details page, you will see a link that says "Create Review".  Clicking this will open a text field where you can enter your comments, and if you are on the Steering Committee, it will let you enter your writing group nomination.  Once you are satisfied with your review, you can click "Save Review".<br />
</div>

<h2><span style="border:2px solid #23FFFF; padding:3px 4px 1px 4px;">4</span> Receiving Emails</h2>
<div style="margin-left:30px">
  Occasionally you will receive an email from the CHAT Publication website.  This email may typically instruct you to create a review for the publication.  Just click the link, login, review the publication proposal, find your name, and select "Create Review".<br />
</div>