<% unless notice.blank? %>
  <div id="msg_notice" class="notice" style="display:none"><%= notice %></div>
  <%= javascript_tag "new Effect.Appear($('msg_notice'), {duration:1.5});" %>
<% end %>
<% unless alert.blank? %>
  <div id="msg_alert" class="error" style="display:none"><%= alert %></div>
  <%= javascript_tag "new Effect.Appear($('msg_alert'), {duration:1.5});" %>
<% end %>
